<!-- Hello Part -->
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">Welcome!</h1>
        <p class="lead">Find the book you're looking for! (Try to search for a book, it should work)</p>
    </div>
    
    <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" id='bookButtonFilter' class="btn btn-secondary">Book Title</button>
          <button type="button" id='bookAuthorFilter' class="btn btn-secondary">Author</button>
          <button type="button" id='bookDateFilter' class="btn btn-secondary">Publication Date</button>
          <button type="button" id='bookGenreFilter' class="btn btn-secondary">Genre</button>
          <button type="button" id='resetFilter' class="btn btn-secondary">Reset Filter</button>
    </div>
    <!-- Search Bar -->
    <div class="input-group ">
        <input type="search" class="form-control rounded" onkeyup="myFunction()" id='bookFilter' placeholder="Search by Title" aria-label="Search"
            aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
    </div>

    {{!-- Trying to mimic example here  --}}
    <!-- Table for Books -->
    <div class="container" id='tableID'>
        <table class="table justify-content-center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Book ID</th>
                <th scope="col">Book Title</th>
                <th scope="col">Genres</th>
                <th scope="col">Author</th>
                <th scope="col">Publication Date</th>
                <th scope="col">Library</th>
                <th scope="col">Update Row</th>
                <th scope="col">Delete Row</th>
            </tr>
            </thead>
            <tbody id = 'tbody'>
            {{#each results}}
            <tr>
              <td>{{this.bookID}}</td> 
              <td>{{this.title}}</td>
	            <td>{{this.Genres}}</td>
              <td>{{this.authorName}}</td>
              <td>{{this.publicationDate}}</td>
              <td>{{this.name}}</td>
              <td><button type="button" class="btn btn-primary">Update</button></td></td>
              <td><button type="button" class="btn btn-danger">Delete</button></td>

            </tr>
            {{/each}} 
            </tbody>
        </table>
    </div>

    <script>

    function myFunction() {
      // If we have clicked Button BookTitle, then we want to filter row 0
      if (document.getElementById('bookButtonFilter').onclick = function() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById('bookFilter');
        filter = input.value;
        table = document.getElementById('tbody');
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
        console.log(tr.length)
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
          // console.log(td)
          txtValue = td.textContext || td.innerText;
          // console.log(txtValue)
          if (txtValue.toUpperCase().includes(filter.toUpperCase())) {
            console.log(txtValue, 'here text log')
            tr[i].style.display = "";
          } else {
            tr[i].style.display = 'none';
          } 
        }
      }
      });


      // Genres
      if (document.getElementById('bookGenreFilter').onclick = function() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById('bookFilter');
        filter = input.value;
        table = document.getElementById('tbody');
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
        console.log(tr.length)
        td = tr[i].getElementsByTagName("td")[2];
        if (td) {
          // console.log(td)
          txtValue = td.textContext || td.innerText;
          // console.log(txtValue)
          if (txtValue.toUpperCase().includes(filter.toUpperCase())) {
            console.log(txtValue, 'here text log')
            tr[i].style.display = "";
          } else {
            tr[i].style.display = 'none';
          } 
        }
      }
      });
      // If we have clicked Button Author, then we are filtering on author, row 1   

      if (document.getElementById('bookAuthorFilter').onclick = function() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById('bookFilter');
        filter = input.value;
        table = document.getElementById('tbody');
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
        console.log(tr.length)
        td = tr[i].getElementsByTagName("td")[3];
        if (td) {
          // console.log(td)
          txtValue = td.textContext || td.innerText;
          // console.log(txtValue)
          if (txtValue.toUpperCase().includes(filter.toUpperCase())) {
            console.log(txtValue, 'here text log')
            tr[i].style.display = "";
          } else {
            tr[i].style.display = 'none';
          } 
        }
      }
      });

      if (document.getElementById('bookDateFilter').onclick = function() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById('bookFilter');
        filter = input.value;
        table = document.getElementById('tbody');
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
        console.log(tr.length)
        td = tr[i].getElementsByTagName("td")[6];
        if (td) {
          // console.log(td)
          txtValue = td.textContext || td.innerText;
          // console.log(txtValue)
          if (txtValue.toUpperCase().includes(filter.toUpperCase())) {
            console.log(txtValue, 'here text log')
            tr[i].style.display = "";
          } else {
            tr[i].style.display = 'none';
          } 
        }
      }
      });
      

      if (document.getElementById('resetFilter').onclick = function() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById('bookFilter');
        filter = input.value;
        table = document.getElementById('tbody');
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
        console.log(tr.length)
        tr[i].style.display = "";
        
        }
      });
      
    
    }
    </script>
    
</div>
