<style>
form {padding: 0px 25px 50px 25px;}
h1 {padding-left: 10px}
</style>

<script type="text/javascript" src="/scripts/insert.js"></script>

{{!-- Insert into Books --}}
<h1>Add Entry to Books</h1>

{{!-- Form for adding a new book to the system --}}
<form id="booksInsert"> 
    <input type="text" id = "title" name="title" placeholder="Book Title">
    <input type="date" id = "publicationDate" name="publicationDate" value="YYYY-MM-DD">
    Select Author : <select name="Author" id="AuthorDropDown_Books">
        
        {{#each authors}}
        <option value="{{this.authorID}}">{{this.authorName}}</option>
        {{/each}}
    </select>
    
    Select Library : <select name="Library" id="LibraryDropDown_Books">
        
        <option value=""></option>
        {{#each libs}}
        <option value="{{this.libraryID}}">{{this.name}}</option>
        {{/each}}
    </select>

    Select genre : <select name="genre" id="genreDropDown_Books1">
        
        <option value=""></option>
        {{#each genres}}
        <option value="{{this.genreID}}">{{this.genreName}}</option>
        {{/each}}
    </select>

    Select genre : <select name="genre" id="genreDropDown_Books2">
        
        <option value=""></option>
        {{#each genres}}
        <option value="{{this.genreID}}">{{this.genreName}}</option>
        {{/each}}
    </select>

    Select genre : <select name="genre" id="genreDropDown_Books3">
        
        <option value=""></option>
        {{#each genres}}
        <option value="{{this.genreID}}">{{this.genreName}}</option>
        {{/each}}
    </select>
    
    <input id="BookSubmit" type="submit" value="Submit">
</form>


{{!-- Insert Into Libraries --}}
<h1>Add Entry to Libraries</h1>

{{!-- Form for adding a new library to the database --}}
<form id="librariesInsert"> 
    <input type="text" id = "libraryName" name="libraryName" placeholder="Library Name">
    <input type="text" id = "libraryState" name="libraryState" placeholder="Library State">
    <input type="text" id = "libraryCity" name="libraryCity" placeholder="Library City">
    <input type="text" id = "libraryStreet" name="libraryStreet" placeholder="Library Street">
    <input type="text" id = "libraryZip" name="libraryZip" placeholder="Library Zip">

    <input id="LibrarySubmit" type="submit" value="Submit">
</form>

{{!-- Insert Into Patrons --}}
<h1>Add Entry to Patrons</h1>

{{!-- Form for adding a new patron to the database --}}
<form id="patronsInsert"> 
    <input type="text" id = "firstName" name="firstName" placeholder="First Name">
    <input type="text" id = "lastName" name="lastName" placeholder="Last Name">

    <input type="text" id = "patronState" name="patronState" placeholder="Patron State">
    <input type="text" id = "patronCity" name="patronCity" placeholder="Patron City">
    <input type="text" id = "patronStreet" name="patronStreet" placeholder="Patron Street">
    <input type="text" id = "patronZip" name="patronZip" placeholder="Patron Zip">

    Select Library : <select name="Library" id="LibraryDropDown_Patron">
        
        {{#each libs}}
        <option  id = "patronLibraryID" value="{{this.libraryID}}">{{this.name}}</option>
        {{/each}}
    </select>

    <input id="PatronSubmit" type="submit" value="Submit">
</form>

{{!-- Insert into Genres --}}
<h1>Add Entry to Genres</h1>


<form id="genresInsert"> 
    <input type="text" id = "genreName" name="genreName" placeholder="Genre Name">
    <input type="text" id = "genreDescription" name="genreDescription" placeholder="Description of the Genre">
    <input id="GenreSubmit" type="submit" value="Submit">
</form>

{{!-- Insert into Authors --}}
<h1>Add Entry to Authors</h1>


<form id="authorsInsert"> 
    <input type="text" id = "authorName" name="authorName" placeholder="First Name & Last Name">
    <input id="AuthorSubmit" type="submit" value="Submit">
</form>

